/** NavigationLinks */
@media only screen and (min-width: @screen__m) {
    :root .theme-pearl .page-wrapper .page-header.sticky-header.page-header-v3 .logo {
        left: 0px;
    }
}

@media only screen and (max-width: @screen__m) {
    // mobile styles was moved separately in css/navigation_mobile.css
}

@media screen and (max-width: 639px) {
}

@media only screen and (min-width: 1399px) and (max-width: 1439px) {
}
