/** NavigationLinks */
body {
    font-size: 12px;
}
@media only screen and (min-width: @screen__m) {
}

@media only screen and (max-width: @screen__m) {
    // mobile styles was moved separately in css/navigation_mobile.css
}

@media screen and (max-width: 639px) {
}

@media only screen and (min-width: 1399px) and (max-width: 1439px) {
}
