/** NavigationLinks */
.theme-pearl .page-header-v3 .header.panel {
    display: none;
}
.page-header.sticky-header {
    min-height: 82px;
}
.page-header-v3 {
    .header.links {
        display: inline-block;
        margin: 0 25px 0 0;

        li.authorization-link a:not([data-post]) {
            font-size: 0;
        }
        li.authorization-link a:not([data-post]):before {
            content: "\e66c";
            font-family: 'font-icons';
            font-size: inherit;
            color: inherit;
        }
    }
    .switcher {
        position: absolute;
        min-width: 125px;
        top: -28px;
        right: 21px;
        text-align: right;
    } 
    .switcher-trigger span,
    .page-header #switcher-currency .options ul.dropdown li a {
            font-size: 10.5px;
            color: #000;
            font-weight: 600;
            text-transform: lowercase;
    }
}
@media only screen and (min-width: @screen__m) {
    // desktop styles was moved separately in css/navigation_desktop.css
    .page-header-v3 {
        .header.links>li.authorization-link {
            display: block;
        }
        .header.links>li {
            display: none;
            list-style: none;
        }
        .header.content .header_right {
            padding-right: 18px !important;
            position: absolute;
            right: 18px;
            top: 35px;
        }
        .nav-sections-item-content li.authorization-link {
            display: none !important;
        }
        .logo {
            margin: 5px auto!important;
            width: 336px;
            display: block;
            float: unset;
        }
        .list-subcategories-img {
            width: 200px;
            height: 200px;
            background-color: #fff;
            opacity: .85;
            list-style: none;
            margin-bottom: 40px;
            margin-right: 26px;
            margin-top: 52px;
        }
        .block-search {
            position: absolute;
            right: 135px;
            top: 35px;
        }
    }
}

@media only screen and (max-width: @screen__m) {
    // mobile styles was moved separately in css/navigation_mobile.css
}

@media screen and (max-width: 639px) {
}

@media only screen and (min-width: 1399px) and (max-width: 1439px) {
}
